block(
  variant="bgimage" 
  backgroundImage="url(https://colorlib.com/etc/datarc/img/banner.jpg)"
)
  flex(
    width=8/12 
    mx="auto" 
    flexDirection="column" 
    alignItems="center" 
    justifyContent="center" 
    zIndex="1"
  )
    text(variant="base-uc" textAlign="center") We work hard, we result perfect
    text(variant="h1" color="white" textAlign="center" mt="0") Crafting Digital Agency Experiences
    button(variant="outlinefill")
      text(m=0 color="white" fontWeight="600") Explore Us
  block(
    background="linear-gradient(to right,rgba(60,64,143,0.95) 0%,rgba(91,97,207,0.95) 100%)" 
    position="absolute" 
    top="0" 
    left="0"
  )
block(bg="#F9F9FF" height="auto" py="120px")
  block(
    variant="container" 
    maxWidth=["100%", "540px", "720px", "960px", "1140px"]
  )
    box(mb="90px")
      text(variant="base-uc" textAlign="center" color="#777") ABOUT OUR DIGITAL AGENCY
      text(
        variant="h2" 
        textAlign="center" 
        color="#777" 
        fontWeight="300" 
        display="inline"
      )
        | Plantronics with its GN Netcom 
      text(
        variant="h2" 
        textAlign="center" 
        color="#777" 
        fontWeight="500" 
        display="inline"
      )
        | wireless headset
      text(
        variant="h2" 
        textAlign="center" 
        color="#777" 
        fontWeight="300" 
        display="inline"
      )
        |   creates the next generation of wireless headset and other products such as wireless amplifiers, and  
      text(
        variant="h2" 
        textAlign="center" 
        color="#777" 
        fontWeight="500" 
        display="inline"
      )
        |  wireless headset
      text(
        variant="h2" 
        textAlign="center" 
        color="#777" 
        fontWeight="300" 
        display="inline"
      )
        |  telephone.
    flex(justifyContent="center" flexWrap="wrap")
      card(variant="features")
        image(
          src="https://colorlib.com/etc/datarc/img/s1.jpg"
        )
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(
            variant="base-uc" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Addiction Whit Gambling
          text(variant="base" color="#777" pb="20px" textAlign="center") It is a good idea to think of your PC as an office. It stores files, programs, pictures. This can be compared to an actual office’s file
          button(variant="outlinefill")
            text(m=0 fontSize="14px" fontWeight="600" color="#222") Explore →
      card(variant="features")
        image(
          src="https://colorlib.com/etc/datarc/img/s2.jpg"
        )
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(
            variant="base-uc" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Headset No Longer Wired
          text(variant="base" color="#777" pb="20px" textAlign="center") If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps 
          button(variant="outlinefill")
            text(m=0 fontSize="14px" fontWeight="600" color="#222") Explore →
      card(variant="features")
        image(
          src="https://colorlib.com/etc/datarc/img/s3.jpg"
        )
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(
            variant="base-uc" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Life Advice Looking At Window
          text(variant="base" color="#777" pb="20px" textAlign="center") Having a baby can be a nerve wracking experience for new parents – not the nine months of pregnancy, I’m talking
          button(variant="outlinefill")
            text(m=0 fontSize="14px" fontWeight="600" color="#222") Explore →
block(bg="#222222" height="auto" py="120px")
  block(
    variant="container" 
    maxWidth=["100%", "540px", "720px", "960px", "1140px"]
  )
    box(mb="90px")
      text(variant="base-uc" textAlign="center" color="white") WHY CHOOSE US
      text(variant="h2" textAlign="center" color="white") We ensure perfect quality Digital products for you
    flex(justifyContent="center" flexWrap="wrap")
      card(variant="hovergreen")
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(fontSize="80px" m=0 color="#00ff8c" lineHeight="80px") ★
          text(
            variant="h5" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Unique Design
          text(variant="base" color="#777" pb="20px" textAlign="center") Most people who work in an office environment, buy computer products, or have
      card(variant="hovergreen")
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(fontSize="80px" m=0 color="#00ff8c" lineHeight="80px") ☺
          text(
            variant="h5" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Appropriate UX
          text(variant="base" color="#777" pb="20px" textAlign="center") Today, many people rely on computers to do homework, work, and create or store useful
      card(variant="hovergreen")
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(fontSize="80px" m=0 color="#00ff8c" lineHeight="80px") ♥
          text(
            variant="h5" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Perfect Visual
          text(variant="base" color="#777" pb="20px" textAlign="center") Having a baby can be a nerve wracking experience for new parents – not the nine months
      card(variant="hovergreen")
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(fontSize="80px" m=0 color="#00ff8c" lineHeight="80px") ✿
          text(
            variant="h5" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Different Layout
          text(variant="base" color="#777" pb="20px" textAlign="center") It won’t be a bigger problem to find one video game lover in your neighbor. Since the
block(height="auto" py="120px" bg="white")
  block(
    variant="container" 
    maxWidth=["100%", "540px", "720px", "960px", "1140px"]
  )
    box(mb="90px")
      text(variant="base-uc" textAlign="center" color="#777") REMARKABLE WORKS
      text(variant="h2" textAlign="center" fontWeight="700" color="#222") We have gained reliability to serve you best
    flex(justifyContent="center" flexWrap="wrap")
      card(variant="personas")
        image(
          src="https://colorlib.com/etc/datarc/img/t1.jpg"
        )
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(
            variant="base-uc" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Ethel Davis
          text(variant="base" color="#777" textAlign="center") Managing Director (Sales)
      card(variant="personas")
        image(
          src="https://colorlib.com/etc/datarc/img/t2.jpg"
        )
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(
            variant="base-uc" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Rodney Cooper
          text(variant="base" color="#777" textAlign="center") Creative Art Director 
      card(variant="personas")
        image(
          src="https://colorlib.com/etc/datarc/img/t3.jpg"
        )
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(
            variant="base-uc" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Dora Walker
          text(variant="base" color="#777" textAlign="center") Senior Core Developer
      card(variant="personas")
        image(
          src="https://colorlib.com/etc/datarc/img/t4.jpg"
        )
        flex(flexDirection="column" alignItems="center" py="20px" px="40px")
          text(
            variant="base-uc" 
            textAlign="center" 
            color="#222" 
            fontWeight="600" 
            mb="0"
          )
            | Lena Keller
          text(variant="base" color="#777" textAlign="center") Creative Content Developer
block(py="120px" variant="split" display="flex" alignItems="center")
  block(
    variant="container" 
    maxWidth=["100%", "540px", "720px", "960px", "1140px"] 
    height="auto" 
    px="20px"
  )
    box(width=1/2 pr="30px")
      text(variant="base-uc" textAlign="left" color="white") We create top class designs
      text(variant="h2" textAlign="left" fontWeight="700" color="white") A DIGITAL STUDIO CRAFTING TECH BUSINESS
      text(variant="base" textAlign="left" color="white") Computer users and programmers have become so accustomed to using Windows, even for the changing capabilities and the appearances of the graphical interface of the versions, therefore it has remained Microsoft’s product. Although, Lycoris, Red Hat, Mandrake,
      button(variant="outlinefill")
        text(m=0 fontSize="14px" fontWeight="600" color="white") Start Business →
block(height="auto" py="120px")
  block(
    variant="container" 
    maxWidth=["100%", "540px", "720px", "960px", "1140px"]
  )
    text(variant="base-uc" textAlign="center" color="#777") CREATIVE PEOPLE
    text(variant="h2" textAlign="center" fontWeight="700" color="#222") Team work builds trust and trust builds growth
    flex(justifyContent="center" flexWrap="wrap")
      card(variant="price")
        box(
          backgroundImage="linear-gradient(0deg,#3c408f 0%,#5b61cf 100%)"
        )
          box(py="12px")
            text(
              fontSize="60px" 
              m=0 
              color="#00ff8c" 
              lineHeight="60px" 
              textAlign="center"
            )
              | ✿
            text(variant="base-uc" textAlign="center" color="white") Standart
          box(bg="rgba(0, 0, 0, 0.1)" pt="18px" pb="8px")
            text(
              fontSize="40px" 
              m=0 
              color="#00ff8c" 
              lineHeight="40px" 
              textAlign="center"
            )
              | £199
            text(variant="base" textAlign="center" color="white") Per month
        flex(
          flexDirection="column" 
          alignItems="center" 
          px="20px" 
          pt="20px" 
          pb="40px" 
          bg="#f9f9ff"
        )
          text(variant="base" color="#777" textAlign="center" mt=0) 2.5 GB Photos
          text(variant="base" color="#777" textAlign="center" mt=0) Secure Online Transfer
          text(variant="base" color="#777" textAlign="center" mt=0) Secure Online Transfer
          text(variant="base" color="#777" textAlign="center" mt=0) Unlimited Styles
          text(variant="base" color="#777" textAlign="center" mt=0) Customer Service
          text(variant="base" color="#777" textAlign="center" mt=0) Manual Backup
          button(variant="outlinefill" mt="16px")
            text(
              variant="base-uc" 
              m=0 
              fontSize="14px" 
              fontWeight="600" 
              color="#222"
            )
              | Purchase →
      card(variant="price")
        box(
          backgroundImage="linear-gradient(0deg,#3c408f 0%,#5b61cf 100%)"
        )
          box(py="12px")
            text(
              fontSize="60px" 
              m=0 
              color="#00ff8c" 
              lineHeight="60px" 
              textAlign="center"
            )
              | ♥
            text(variant="base-uc" textAlign="center" color="white") BUSINESS
          box(bg="rgba(0, 0, 0, 0.1)" pt="18px" pb="8px")
            text(
              fontSize="40px" 
              m=0 
              color="#00ff8c" 
              lineHeight="40px" 
              textAlign="center"
            )
              | £399
            text(variant="base" textAlign="center" color="white") Per month
        flex(
          flexDirection="column" 
          alignItems="center" 
          px="20px" 
          pt="20px" 
          pb="40px" 
          bg="#f9f9ff"
        )
          text(variant="base" color="#777" textAlign="center" mt=0) 2.5 GB Photos
          text(variant="base" color="#777" textAlign="center" mt=0) Secure Online Transfer
          text(variant="base" color="#777" textAlign="center" mt=0) Secure Online Transfer
          text(variant="base" color="#777" textAlign="center" mt=0) Unlimited Styles
          text(variant="base" color="#777" textAlign="center" mt=0) Customer Service
          text(variant="base" color="#777" textAlign="center" mt=0) Manual Backup
          button(variant="outlinefill" mt="16px")
            text(
              variant="base-uc" 
              m=0 
              fontSize="14px" 
              fontWeight="600" 
              color="#222"
            )
              | Purchase →
      card(variant="price" mr=0)
        box(
          backgroundImage="linear-gradient(0deg,#3c408f 0%,#5b61cf 100%)"
        )
          box(py="12px")
            text(
              fontSize="60px" 
              m=0 
              color="#00ff8c" 
              lineHeight="60px" 
              textAlign="center"
            )
              | ★
            text(variant="base-uc" textAlign="center" color="white") ULTIMATE
          box(bg="rgba(0, 0, 0, 0.1)" pt="18px" pb="8px")
            text(
              fontSize="40px" 
              m=0 
              color="#00ff8c" 
              lineHeight="40px" 
              textAlign="center"
            )
              | £499
            text(variant="base" textAlign="center" color="white") Per month
        flex(
          flexDirection="column" 
          alignItems="center" 
          px="20px" 
          pt="20px" 
          pb="40px" 
          bg="#f9f9ff"
        )
          text(variant="base" color="#777" textAlign="center" mt=0) 2.5 GB Photos
          text(variant="base" color="#777" textAlign="center" mt=0) Secure Online Transfer
          text(variant="base" color="#777" textAlign="center" mt=0) Secure Online Transfer
          text(variant="base" color="#777" textAlign="center" mt=0) Unlimited Styles
          text(variant="base" color="#777" textAlign="center" mt=0) Customer Service
          text(variant="base" color="#777" textAlign="center" mt=0) Manual Backup
          button(variant="outlinefill" mt="16px")
            text(
              variant="base-uc" 
              m=0 
              fontSize="14px" 
              fontWeight="600" 
              color="#222"
            )
              | Purchase →
block(height="auto" py="120px" bg="#F9F9FF")
  block(
    variant="container" 
    maxWidth=["100%", "540px", "720px", "960px", "1140px"]
  )
    text(variant="base-uc" textAlign="center" color="#777") testimonials
    text(variant="h2" textAlign="center" fontWeight="700" color="#222") What do people think about us
    flex(justifyContent="center" flexWrap="wrap")
      card(variant="testimonial")
        flex(
          flexDirection="column" 
          alignItems="center" 
          py="20px" 
          px="20px" 
          bg="white"
        )
          image(
            size="80px" 
            src="https://colorlib.com/etc/datarc/img/ts3.png"
          )
          text(variant="base" color="#777" textAlign="center") Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory 
          text(variant="base-uc" fontWeight="600" color="#222" textAlign="center") Mark Alviro Wiens
          text(variant="base" color="#777" textAlign="center") CEO at Google
      card(variant="testimonial")
        flex(
          flexDirection="column" 
          alignItems="center" 
          py="20px" 
          px="20px" 
          bg="white"
        )
          image(
            size="80px" 
            src="https://colorlib.com/etc/datarc/img/ts3.png"
          )
          text(variant="base" color="#777" textAlign="center") Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory 
          text(variant="base-uc" fontWeight="600" color="#222" textAlign="center") Mark Alviro Wiens
          text(variant="base" color="#777" textAlign="center") CEO at Google
      card(variant="testimonial" mr=0)
        flex(
          flexDirection="column" 
          alignItems="center" 
          py="20px" 
          px="20px" 
          bg="white"
        )
          image(
            size="80px" 
            src="https://colorlib.com/etc/datarc/img/ts3.png"
          )
          text(variant="base" color="#777" textAlign="center") Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory 
          text(variant="base-uc" fontWeight="600" color="#222" textAlign="center") Mark Alviro Wiens
          text(variant="base" color="#777" textAlign="center") CEO at Google
block(height="auto" py="120px")
  block(
    variant="container" 
    maxWidth=["100%", "540px", "720px", "960px", "1140px"]
  )
    box(mb="90px")
      text(variant="base-uc" textAlign="center" color="#777") Latest From Blog
      text(variant="h2" textAlign="center" fontWeight="700" color="#222") Publish what you want to not requires social
    flex(justifyContent="center" flexWrap="wrap")
      card(variant="article")
        image(
          src="https://colorlib.com/etc/datarc/img/p1.jpg"
        )
        flex(flexDirection="column" alignItems="flex-start" py="20px")
          text(variant="base" textAlign="left" color="#777" mb=0) 25 October, 2017 | By Mark Wiens
          text(
            variant="base-uc" 
            textAlign="left" 
            color="#222" 
            fontWeight="600" 
            mb="20px"
          )
            | Addiction When Gambling Becomes A Problem
          hr
          text(variant="base" color="#777" pb="20px" textAlign="left") Computers have become ubiquitous in almost every facet of our lives. At work, desk jockeys spend hours in front of their 
          button(variant="outlinefill")
            text(
              variant="base-uc" 
              m=0 
              fontSize="14px" 
              fontWeight="600" 
              color="#222"
            )
              | Details →
      card(variant="article")
        image(
          src="https://colorlib.com/etc/datarc/img/p2.jpg"
        )
        flex(flexDirection="column" alignItems="flex-start" py="20px")
          text(variant="base" textAlign="left" color="#777" mb=0) 25 October, 2017 | By Mark Wiens
          text(
            variant="base-uc" 
            textAlign="left" 
            color="#222" 
            fontWeight="600" 
            mb="20px"
          )
            | Computer Hardware Desktops And Notebooks
          hr
          text(variant="base" color="#777" pb="20px" textAlign="left") Ah, the technical interview. Nothing like it. Not only does it cause anxiety, but it causes anxiety for several different reasons. 
          button(variant="outlinefill")
            text(
              variant="base-uc" 
              m=0 
              fontSize="14px" 
              fontWeight="600" 
              color="#222"
            )
              | Details →
      card(variant="article")
        image(
          src="https://colorlib.com/etc/datarc/img/p3.jpg"
        )
        flex(flexDirection="column" alignItems="flex-start" py="20px")
          text(variant="base" textAlign="left" color="#777" mb=0) 25 October, 2017 | By Mark Wiens
          text(
            variant="base-uc" 
            textAlign="left" 
            color="#222" 
            fontWeight="600" 
            mb="20px"
          )
            | Make Myspace Your Best Designed Space
          hr
          text(variant="base" color="#777" pb="20px" textAlign="left") Plantronics with its GN Netcom wireless headset creates the next generation of wireless headset and other products such as wireless 
          button(variant="outlinefill")
            text(
              variant="base-uc" 
              m=0 
              fontSize="14px" 
              fontWeight="600" 
              color="#222"
            )
              | Details →
      card(variant="article" mr=0)
        image(
          src="https://colorlib.com/etc/datarc/img/p4.jpg"
        )
        flex(flexDirection="column" alignItems="flex-start" py="20px")
          text(variant="base" textAlign="left" color="#777" mb=0) 25 October, 2017 | By Mark Wiens
          text(
            variant="base-uc" 
            textAlign="left" 
            color="#222" 
            fontWeight="600" 
            mb="20px"
          )
            | Video Games Playing With Imagination
          hr
          text(variant="base" color="#777" pb="20px" textAlign="left") About 64% of all on-line teens say that do things online that they wouldn’t want their parents to know about.   11% of all adult internet 
          button(variant="outlinefill")
            text(
              variant="base-uc" 
              m=0 
              fontSize="14px" 
              fontWeight="600" 
              color="#222"
            )
              | Details →
block(height="auto" bg="#3D4191" py="20px")
  block(
    variant="container" 
    maxWidth=["100%", "540px", "720px", "960px", "1140px"]
  )
    flex(
      width=2/3 
      mx="auto" 
      py="20px" 
      justifyContent="space-between" 
      alignItems="center" 
      flexDirection=["column", "column", "column", "column", "row"]
    )
      text(
        variant="h5" 
        textAlign=["center", "center", "center", "center", "left", ] 
        color="white"
      ) Not yet convinced with our quality?
      button(variant="outlinefill")
        text(variant="base-uc" m=0 fontSize="14px" fontWeight="600") Explore Services →
block(height="auto" bg="#222" py="20px")
  block(
    variant="container" 
    maxWidth=["100%", "540px", "720px", "960px", "1140px"]
  )
    flex(mt="50px" flexWrap="wrap")
      flex(width=[1,1,1/2,1/4,1/4] flexDirection="column")
        text(
          variant="h6" 
          color="white" 
          m="0" 
          mb="18px" 
          mr="8px"
        ) About agency
        text(
          variant="base" 
          color="#777777" 
          m="0" 
          mb="24px" 
          mr="12px"
        ) The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point
      flex(width=[1,1,1/2,1/4,1/4] flexDirection="column")
        text(
          variant="h6" 
          color="white" 
          m="0" 
          mb="18px" 
          pr="20px"
        )
          | Navigation links
        flex(flexWrap="wrap" flexDirection="row")
          flex(flexDirection="column" width=1/3 mb="24px")
            text(
              variant="base" 
              color="#777777" 
              m="0" 
              mb="12px" 
              mr="8px"
            ) Home
            text(
              variant="base" 
              color="#777777" 
              m="0" 
              mb="12px" 
              mr="8px"
            ) Features
            text(
              variant="base" 
              color="#777777" 
              m="0" 
              mb="12px" 
              mr="8px"
            ) Services
            text(
              variant="base" 
              color="#777777" 
              m="0" 
              mb="12px" 
              mr="8px"
            ) Portfolio
          flex(flexDirection="column" width=1/3)
            text(
              variant="base" 
              color="#777777" 
              m="0" 
              mb="12px" 
              mr="8px"
            ) Team
            text(
              variant="base" 
              color="#777777" 
              m="0" 
              mb="12px" 
              mr="8px"
            ) Pricing
            text(
              variant="base" 
              color="#777777" 
              m="0" 
              mb="12px" 
              mr="8px"
            ) Blog
            text(
              variant="base" 
              color="#777777" 
              m="0" 
              mb="12px" 
              mr="8px"
            ) Contact
      flex(width=[1,1,1/2,1/4,1/4] flexDirection="column")
        text(variant="h6" color="white" m="0" mb="18px") Newsletter
        text(
          variant="base" 
          color="#777" 
          m="0" 
          mb="24px" 
          mr="12px"
          maxWidth="380px"
        )
          | You can trust us. we only send promo offers, not a single spam.
      flex(width=[1,1,1/2,1/4,1/4] flexDirection="column")
        text(variant="h6" color="white" m="0" mb="18px" ) Instafeed
        flex(flexWrap="wrap")
          image(
            src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-01.jpg" 
            width="auto" 
            mr="12px" 
            mb="12px"
          )
          image(
            src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-02.jpg" 
            width="auto" 
            mr="12px" 
            mb="12px"
          )
          image(
            src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-03.jpg" 
            width="auto" 
            mr="12px" 
            mb="12px"
          )
          image(
            src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-04.jpg" 
            width="auto" 
            mr="12px" 
            mb="12px"
          )
          image(
            src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-05.jpg" 
            width="auto" 
            mr="12px" 
            mb="12px"
          )
          image(
            src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-06.jpg" 
            width="auto" 
            mr="12px" 
            mb="12px"
          )
          image(
            src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-07.jpg" 
            width="auto" 
            mr="12px" 
            mb="12px"
          )
          image(
            src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-08.jpg" 
            width="auto" 
            mr="12px" 
            mb="12px"
          )