grid(
  gridAutoRows="minmax(100px, auto)"
  justifyItems="center"
  backgroundImage="url(https://colorlib.com/preview/theme/bulkapp/img/banner/home-banner.jpg)" 
)
  grid(
    height="100vh"
    maxWidth=['640px', '820px', '980px']
    pt="170px"
    gridTemplateColumns="9fr 3fr"
    gridColumnGap="24px"
    gridRowGap="24px"
    justifyItems="center"
    alignItems="top"
    p="24px")
    box()
      text(variant="display1" fontSize=['38px', '42px', '60px'] fontWeight="bold" lineHeight="100%" textAlign="left" color="white" mb="24px") The Best App in the Universe
      text(variant="base" maxWidth="400px" textAlign="left" color="white" mb="40px") inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women
      button(borderRadius="5px" bg="white" color="#222" px="45px" boxShadow="0 20px 20px 0 rgba(0,0,0,.1)")
        text Explore Now
    image(justifySelf="flex-start" src="https://colorlib.com/preview/theme/bulkapp/img/banner/right-mobile.png" display=['none', 'none', 'block',])
    
flex(
  width="auto"
  py="120px"
  p="24px"
  flexDirection="column"
  alignItems="center"
  )
    text(variant="h2" lineHeight="100%" textAlign="center" color="#222" mb="24px") Unique Features
    text(variant="base" maxWidth="570px" textAlign="center" color="#777" mb="24px") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    grid(
      mt="50px"
      gridTemplateColumns=['1fr', '1fr 1fr', '1fr 1fr 1fr 1fr']
      gridColumnGap="24px"
      )
      card(variant="vertical" p="24px" width="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none")
        image(src="https://colorlib.com/preview/theme/bulkapp/img/icon/f-icon-1.png" width="auto")
        text(variant="h5" color="#222" mb="8px") Maintenance
        text(variant="base" color="#777" mt="12px") inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.
      card(variant="vertical" p="24px" width="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none")
        image(src="https://colorlib.com/preview/theme/bulkapp/img/icon/f-icon-1.png" width="auto")
        text(variant="h5" color="#222" mb="8px") Maintenance
        text(variant="base" color="#777" mt="12px") inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.
      card(variant="vertical" p="24px" width="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none")
        image(src="https://colorlib.com/preview/theme/bulkapp/img/icon/f-icon-1.png" width="auto")
        text(variant="h5" color="#222" mb="8px") Maintenance
        text(variant="base" color="#777" mt="12px") inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.
      card(variant="vertical" p="24px" width="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none")
        image(src="https://colorlib.com/preview/theme/bulkapp/img/icon/f-icon-1.png" width="auto")
        text(variant="h5" color="#222" mb="8px") Maintenance
        text(variant="base" color="#777" mt="12px") inappropriate behavior is often laughed off as boys will be boys,” women face higher conduct standards especially in the workplace. That’s why.

flex(alignItems="center" bg="#F9FAFF" py="65px" flexDirection="column")
  flex(
    maxWidth=['640px', '820px', '980px']
    p="24px"
    flexDirection="row"
    alignItems="center"
    )
      image(src="https://colorlib.com/preview/theme/bulkapp/img/interior-1.png" width=5/12)
      spacer(width=1/12)
      flex(
        mt="50px"
        flexDirection="column"
        width=6/12
        alignContent="flex-start"
        alignItems="flex-start"
        )
        text(variant="h2"  textAlign="left" color="#222" mb="24px") We Believe that Interior beautifies the Total Architecture
        text(variant="base"  maxWidth="570px" textAlign="left" color="#777" mb="24px") inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off.
        button(borderRadius="5px" backgroundSize="200% auto" backgroundImage="linear-gradient(to right,#bc2bff 0%,#7249fb 51%,#bc2bff 100%)" px="45px" py="16px" boxShadow="0 10px 30px 0 rgba(115,73,251,.3)")
          text(p="0" m="0" fontWeight="bold") See details

flex(alignItems="center" bg="#fff" py="65px" flexDirection="column")
  flex(
    maxWidth=['640px', '820px', '980px']
    p="24px"
    flexDirection="row"
    alignItems="center"
    )
      flex(
        mt="50px"
        flexDirection="column"
        width=6/12
        alignContent="flex-start"
        alignItems="flex-start"
        )
        text(variant="h2"  textAlign="left" color="#222" mb="24px") We Believe that Interior beautifies the Total Architecture
        text(variant="base"  maxWidth="570px" textAlign="left" color="#777" mb="24px") inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed off.
        button(borderRadius="5px" backgroundSize="200% auto" backgroundImage="linear-gradient(to right,#bc2bff 0%,#7249fb 51%,#bc2bff 100%)" px="45px" py="16px" boxShadow="0 10px 30px 0 rgba(115,73,251,.3)")
          text(p="0" m="0" fontWeight="bold") See details
      spacer(width=1/12)
      image(src="https://colorlib.com/preview/theme/bulkapp/img/interior-2.png" width=5/12)
flex( position="relative" alignItems="center" bg="#fff" py="65px" flexDirection="column")
    image(src="https://colorlib.com/preview/theme/bulkapp/img/video-1.png" maxWidth=['640px', '820px', '980px'])
    image(position="absolute" top="50%" left="50%" ml="-45px" mt="-45px" src="https://colorlib.com/preview/theme/bulkapp/img/icon/video-icon-1.png" width="auto")

flex(
  width="auto"
  py="120px"
  p="24px"
  flexDirection="column"
  alignItems="center"
  bg="#F9F9FF"
  )
    text(variant="h2" lineHeight="100%" textAlign="center" color="#222" mb="24px") Pricing Table
    text(variant="base" maxWidth="570px" textAlign="center" color="#777" mb="24px") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    grid(
      mt="50px"
      gridTemplateColumns=['1fr', '1fr', '1fr 1fr 1fr']
      gridColumnGap="24px"
      gridRowGap="18px"
      gridAutoColumns="minmax(100px, auto)"
      )
      card(variant="vertical" width="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none" pb="20px")
        grid(p="40px" gridTemplateColumns="2fr 1fr" justifyContent="space-between" borderBottom="1px solid #eee")
          box(pr="18px")
            text(variant="h5" mt="0px" mb="0px") Standard
            text(variant="base" color="#777" my="0px") For the individuals
          box()
            text(variant="h2" fontWeight="bold" mt="0px" mb="0px" textAlign="right") £199
        flex(p="30px" flexDirection="column" alignItems="center")
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") 2.5 GB Free Photos
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Secure Online Transfer Indeed
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Unlimited Styles for interface
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Reliable Customer Service
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Manual Backup Provided
          spacer
          button(borderRadius="5px" border="1px solid #ddd" px="45px" py="16px" bg="#f9f9ff" color="#222")
            text(p="0" m="0" fontWeight="bold" ) Purchase Plan
      card(variant="vertical" width="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none" pb="20px")
        grid(p="40px" gridTemplateColumns="2fr 1fr" justifyContent="space-between" borderBottom="1px solid #eee")
          box(pr="18px")
            text(variant="h5" mt="0px" mb="0px") Standard
            text(variant="base" color="#777" my="0px") For the individuals
          box()
            text(variant="h2" fontWeight="bold" mt="0px" mb="0px" textAlign="right") £199
        flex(p="30px" flexDirection="column" alignItems="center")
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") 2.5 GB Free Photos
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Secure Online Transfer Indeed
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Unlimited Styles for interface
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Reliable Customer Service
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Manual Backup Provided
          spacer
          button(borderRadius="5px" border="1px solid #ddd" px="45px" py="16px" bg="#f9f9ff" color="#222")
            text(p="0" m="0" fontWeight="bold" ) Purchase Plan
      card(variant="vertical" width="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none" pb="20px")
        grid(p="40px" gridTemplateColumns="2fr 1fr" justifyContent="space-between" borderBottom="1px solid #eee")
          box(pr="18px")
            text(variant="h5" mt="0px" mb="0px") Standard
            text(variant="base" color="#777" my="0px") For the individuals
          box()
            text(variant="h2" fontWeight="bold" mt="0px" mb="0px" textAlign="right") £199
        flex(p="30px" flexDirection="column" alignItems="center")
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") 2.5 GB Free Photos
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Secure Online Transfer Indeed
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Unlimited Styles for interface
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Reliable Customer Service
          text(variant="base" textAlign="center" color="#777" m="0" mb="10px") Manual Backup Provided
          spacer
          button(borderRadius="5px" border="1px solid #ddd" px="45px" py="16px" bg="#f9f9ff" color="#222")
            text(p="0" m="0" fontWeight="bold" ) Purchase Plan
flex(
  width="auto"
  py="120px"
  p="24px"
  flexDirection="column"
  alignItems="center"
  )
    text(variant="h2" lineHeight="100%" textAlign="center" color="#222" mb="24px") Unique Screenshots
    text(variant="base" maxWidth="570px" textAlign="center" color="#777" mb="24px") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    grid(
      mt="50px"
      gridTemplateColumns=['1fr 1fr', '1fr 1fr', '1fr 1fr 1fr 1fr']
      gridColumnGap="24px"
      gridRowGap="18px"
      )
      image(src="https://colorlib.com/preview/theme/bulkapp/img/feature/feature-1.jpg" width="auto")
      image(src="https://colorlib.com/preview/theme/bulkapp/img/feature/feature-2.jpg" width="auto")
      image(src="https://colorlib.com/preview/theme/bulkapp/img/feature/feature-3.jpg" width="auto")
      image(src="https://colorlib.com/preview/theme/bulkapp/img/feature/feature-4.jpg" width="auto")
flex(
  width="auto"
  py="120px"
  p="24px"
  flexDirection="column"
  alignItems="center"
  bg="#F9F9FF"
  )
    text(variant="h2" lineHeight="100%" textAlign="center" color="#222" mb="24px") Testimonials
    text(variant="base"  maxWidth="570px" textAlign="center" color="#777" mb="24px") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    grid(
      mt="50px"
      gridTemplateColumns=['1fr', '1fr', '1fr 1fr']
      gridColumnGap="24px"
      gridRowGap="18px"
      )
      card(maxWidth="540px" minHeight="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none" p="40px" display="flex" flexDirection="row")
        box(backgroundImage="url(https://colorlib.com/preview/theme/bulkapp/img/testimonials/testi-1.png)" minWidth="80px" height="80px" mr="25px")
        flex( flexDirection="column" alignItems="left")
          text(variant="base"  color="#777" m="0" mb="10px") Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
          text(variant="h5"  color="#222" m="0" mb="10px") Mark Alviro Wiens
          text(variant="base"  color="#777" m="0" mb="10px") CEO at Google
      card(maxWidth="540px" minHeight="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none" p="40px" display="flex" flexDirection="row")
        box(backgroundImage="url(https://colorlib.com/preview/theme/bulkapp/img/testimonials/testi-2.png)" minWidth="80px" height="80px" mr="25px")
        flex( flexDirection="column" alignItems="left")
          text(variant="base"  color="#777" m="0" mb="10px") Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware.
          text(variant="h5"  color="#222" m="0" mb="10px") Mark Alviro Wiens
          text(variant="base"  color="#777" m="0" mb="10px") CEO at Google
flex(
  width="auto"
  py="120px"
  p="24px"
  flexDirection="column"
  alignItems="center"
  backgroundImage="-webkit-linear-gradient(0deg,#bc2bff 0%,#7249fb 100%)"
  )
    text(variant="h2" lineHeight="100%" textAlign="center" color="white" mb="24px") Download This App Today!
    text(variant="base" maxWidth="570px" textAlign="center" color="white" mb="24px") It won’t be a bigger problem to find one video game lover in your neighbor. Since the introduction of Virtual Game, it has been achieving great heights so far as its popularity and technological advancement are concerned
    grid(
      mt="50px"
      gridTemplateColumns=['1fr', '1fr', '1fr 1fr']
      gridColumnGap="24px"
      gridRowGap="18px"
      )
      card(minWidth="220px" maxWidth="240px" minHeight="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none" pl="30px" pr="40px" pt="12px" pb="16px" display="flex" flexDirection="row" alignItems="center" )
        image(src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" size="40px" mr="22px")
        box
          text(variant="h4"  color="#222" m="0" ) Available
          text(variant="base"  color="#777" m="0" ) on App Store
      card(minWidth="220px" maxWidth="240px" minHeight="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none" pl="30px" pr="40px" pt="12px" pb="16px" display="flex" flexDirection="row" alignItems="center" )
        image(src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" size="40px" mr="22px")
        box
          text(variant="h4"  color="#222" m="0" ) Available
          text(variant="base"  color="#777" m="0" ) on Google Play
flex(
  width="auto"
  py="120px"
  p="24px"
  flexDirection="column"
  alignItems="center"
  bg="#F9F9FF"
  )
    text(variant="h2" lineHeight="100%" textAlign="center" color="#222" mb="24px") Latest News
    text(variant="base" maxWidth="570px" textAlign="center" color="#777" mb="24px") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    grid(
      mt="50px"
      gridTemplateColumns=['1fr', '1fr', '1fr 1fr 1fr']
      gridColumnGap="24px"
      gridRowGap="18px"
      )
      card(maxWidth="540px" minHeight="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none" p="40px" py="50px" display="flex" 

flexDirection="column" alignItems="flex-start")
        box(backgroundImage="linear-gradient(0deg,#bc2bff 0%,#7249fb 100%)" px="12px" py="3px" borderRadius="2px" mb="12px")
          text(variant="base" color="white" m="0") 10 April, 2018
        text(variant="h5-uppercase" m="0" mb="10px") Benjamin Franklin Method Of Habit Formation
        text( variant="base"  color="#777" m="0" mb="10px") There are many kinds of narratives and organizing principles. Science is driven by evidence gathered in experiments, and by the falsification of extant theories and their 
        spacer
        flex(flexDirection="row" minWidth="100%" justifyContent="space-between")
          text(variant="base"  color="#777" m="0" mb="10px") 4.5k Views
          text(variant="base"  color="#777" m="0" mb="10px") 07
          text(variant="base"  color="#777" m="0" mb="10px") 362
      card(maxWidth="540px" minHeight="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none" p="40px" py="50px" display="flex" flexDirection="column" alignItems="flex-start")
        box(backgroundImage="linear-gradient(0deg,#bc2bff 0%,#7249fb 100%)" px="12px" py="3px" borderRadius="2px" mb="12px")
          text(variant="base" color="white" m="0") 10 April, 2018
        text(variant="h5-uppercase" m="0" mb="10px") Benjamin Franklin Method Of Habit Formation
        text( variant="base"  color="#777" m="0" mb="10px") There are many kinds of narratives and organizing principles. Science is driven by evidence gathered in experiments, and by the falsification of extant theories and their 
        spacer
        flex(flexDirection="row" minWidth="100%" justifyContent="space-between")
          text(variant="base"  color="#777" m="0" mb="10px") 4.5k Views
          text(variant="base"  color="#777" m="0" mb="10px") 07
          text(variant="base"  color="#777" m="0" mb="10px") 362
      card(maxWidth="540px" minHeight="auto" boxShadow="0 10px 30px 0 rgba(0,0,0,.08)" border="none" p="40px" py="50px" display="flex" flexDirection="column" alignItems="flex-start")
        box(backgroundImage="linear-gradient(0deg,#bc2bff 0%,#7249fb 100%)" px="12px" py="3px" borderRadius="2px" mb="12px")
          text(variant="base" color="white" m="0") 10 April, 2018
        text(variant="h5-uppercase" m="0" mb="10px") Benjamin Franklin Method Of Habit Formation
        text( variant="base"  color="#777" m="0" mb="10px") There are many kinds of narratives and organizing principles. Science is driven by evidence gathered in experiments, and by the falsification of extant theories and their 
        spacer
        flex(flexDirection="row" minWidth="100%" justifyContent="space-between")
          text(variant="base"  color="#777" m="0" mb="10px") 4.5k Views
          text(variant="base"  color="#777" m="0" mb="10px") 07
          text(variant="base"  color="#777" m="0" mb="10px") 362
flex(
  width="auto"
  pt="100px"
  pb="160px"
  p="24px"
  flexDirection="column"
  alignItems="center"
  bg="#222"
    )
     grid(
      mt="50px"
      gridTemplateColumns=['1fr 1fr', '1fr 1fr', '3fr 5fr 3fr']
      gridColumnGap="24px"
      gridRowGap="18px"
      )
        box
          text(variant="h4"  color="white" m="0" mb="18px") TOP PRODUCTS
          text(variant="base"  color="white" m="0" mb="12px") Managed Website
          text(variant="base"  color="white" m="0" mb="12px") Manage Reputation
          text(variant="base"  color="white" m="0" mb="12px") Power Tools
          text(variant="base"  color="white" m="0" mb="12px") Marketing Service
        box
          text(variant="h4"  color="white" m="0" mb="18px") NEWSLETTER
          text(variant="base"  color="#777" m="0" mb="12px" maxWidth="380px") You can trust us. we only send promo offers, not a single spam.
        box
          text(variant="h4"  color="white" m="0" mb="18px") INSTAGRAM FEED
          grid(
              gridTemplateColumns="1fr 1fr 1fr 1fr"
              gridTemplateRows="1fr 1fr"
              gridRowGap="10px"
              gridColumnGap="10px"
          )
            image(src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-01.jpg" width="auto")
            image(src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-02.jpg" width="auto")
            image(src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-03.jpg" width="auto")
            image(src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-04.jpg" width="auto")
            image(src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-05.jpg" width="auto")
            image(src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-06.jpg" width="auto")
            image(src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-07.jpg" width="auto")
            image(src="https://colorlib.com/preview/theme/bulkapp/img/instagram/Image-08.jpg" width="auto")