button(
  background="linear-gradient(to right, #6a11cb 0%, #2575fc 100%)" 
  position="fixed" 
  bottom="36px" 
  right="56px" 
  zIndex="1" 
  borderRadius="24px" 
  boxShadow="0px 5px 16px rgba(0, 56, 119, 0.3)"
)
  text(variant="base-uc" color="white" mx="6px" my="6px") Редактировать эту страницу
flex(bg="#0860DC" width="100%")
  box(
    bg="white" 
    m="30px" 
    boxShadow="0px 0px 50px 0px rgba(0, 0, 0, 0.2)" 
    width="100%"
  )
    block(
      variant="container" 
      height="auto" 
      pt="80px" 
      py="30px" 
      bg="white" 
      maxWidth=["100%", "540px", "720px", "960px", "1140px"]
    )
      flex(flexWrap="wrap")
        flex(
          mb="90px" 
          width=1/2 
          pt="60px" 
          flexDirection="column" 
          justifyContent="center" 
          alignItems="flex-start"
        )
          box(
            bg="#1E1E1E" 
            display="inline-block" 
            boxShadow="14px 14px 0px rgba(0, 99, 211, 0.3)"
          )
            text(
              variant="display1" 
              px="30px" 
              pt="30px" 
              pb="40px" 
              m=0 
              color="white"
            )
              | Quarkly
          text(variant="h2" color="#222222" mt="60px" fontWeight="400") онлайн-инструмент для&nbsp;создания темизированных статичных сайтов 
        flex(width=1/2 alignItems="center")
          image(
            src="https://assets-ouch.icons8.com/preview/331/0d0ad1d5-5029-436b-af74-85369f40bae0.png"
          )
        flex(flexWrap="wrap")
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) 💎 Экспорт чистого кода
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) 🏄 Упрощенный синтаксис
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) ⚡ Быстрый UI
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) ⛺ Готовое окружение
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) 🧩 12 базовых элементов
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) 🎨 Темы и вариации элементов
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) 🔧 Широкая кастомизация элементов
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) 🏷️ Значения для разных breakpoints
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) ✂️ Короткие css-свойства
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) 🏗 Иерархия элементов отступами
            hr(width="90%" height="2px" bg="#1E1E1E")
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) ✍️ Знакомый редактор кода
            hr(width="90%" height="2px" bg="#1E1E1E")
          flex(width=1/3 flexDirection="column")
            hr(width="90%" height="2px" bg="#1E1E1E")
            text(variant="base" px=2) ℹ️ Панель для указания свойств
            hr(width="90%" height="2px" bg="#1E1E1E")
        flex(width="100%" mt="80px")
          image(
            src="http://artemzhigalin.ru/wp-content/uploads/2019/03/default-q-1.png" 
            height="100%" 
            boxShadow="0px 5px 16px rgba(0,56,119,0.3)"
          )
    block(
      variant="container" 
      height="auto" 
      bg="white" 
      maxWidth=["100%", "540px", "720px", "960px", "1140px"] 
      pt="40px" 
      pb="60px"
    )
      flex(flexWrap="wrap")
        flex(width=[1, 1, 1, 1, 1/3] flexDirection="column")
          text(variant="h2" color="#222222" mt="0px" fontWeight="400")
            | Стек используемых технологий
        flex(width=[1, 1, 1, 1/2, 1/3] flexDirection="column")
          card(
            display="flex" 
            width="auto" 
            px="24px" 
            py="12px" 
            border="0" 
            mr="16px" 
            mb="16px" 
            minHeight="auto"
          )
            flex(mb="8px" mr="8px")
              image(
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png" 
                size="100px" 
                pr="12px"
              )
            flex(flexDirection="column")
              text(variant="h5" mb="0") React JS
              text(variant="base") Компоненты на React
          card(
            display="flex" 
            px="24px" 
            py="12px" 
            width="auto" 
            border="0" 
            mr="16px" 
            mb="16px" 
            minHeight="auto"
          )
            flex(mb="8px" mr="8px")
              image(
                src="https://camo.githubusercontent.com/a43de8ca816e78b1c2666f7696f449b2eeddbeca/68747470733a2f2f63646e2e7261776769742e636f6d2f7075676a732f7075672d6c6f676f2f656563343336636565386664396431373236643738333963626539396431663639343639326330632f5356472f7075672d66696e616c2d6c6f676f2d5f2d636f6c6f75722d3132382e737667" 
                size="100px" 
                pr="12px"
              )
            flex(flexDirection="column")
              text(variant="h5" mb="0") Pug
              text(variant="base") Синтаксис
          card(
            display="flex" 
            px="24px" 
            py="12px" 
            width="auto" 
            border="0" 
            mr="16px" 
            mb="16px" 
            minHeight="auto"
          )
            flex(mb="8px" mr="8px")
              image(
                src="https://camo.githubusercontent.com/8b3dc6438530a7240e952b187e40bd8380090f64/68747470733a2f2f7374796c65642d73797374656d2e636f6d2f6c6f676f2e737667" 
                size="100px" 
                pr="12px"
              )
            flex(flexDirection="column")
              text(variant="h5" mb="0") Styled-system
              text(variant="base") Стилевые пропсы
        flex(width=[1, 1, 1, 1/2, 1/3] flexDirection="column")
          card(
            display="flex" 
            px="24px" 
            py="12px" 
            width="auto" 
            border="0" 
            mr="16px" 
            mb="16px" 
            minHeight="auto"
          )
            flex(mb="8px" mr="8px")
              image(
                src="https://raw.githubusercontent.com/styled-components/brand/master/styled-components.png" 
                size="100px" 
                pr="12px"
              )
            flex(flexDirection="column")
              text(variant="h5" mb="0") Styled-components
              text(variant="base") Стилизация компонентов
          card(
            display="flex" 
            px="24px" 
            py="12px" 
            width="auto" 
            border="0" 
            mr="16px" 
            mb="16px" 
            minHeight="auto"
          )
            flex(mb="8px" mr="8px")
              image(
                src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-1.png" 
                size="100px"
              )
            flex(flexDirection="column")
              text(variant="h5" mb="0") ...
              text(variant="base") ...
          card(
            display="flex" 
            px="24px" 
            py="12px" 
            width="auto" 
            border="0" 
            mr="16px" 
            mb="16px" 
            minHeight="auto"
          )
            flex(mb="8px" mr="8px")
              image(
                src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-2.png" 
                size="100px"
              )
            flex(flexDirection="column")
              text(variant="h5" mb="0") ...
              text(variant="base") ...
    flex(
      m="auto"
      height="auto" 
      width=10/12
      bg="white"
      py="20px"
      mb="60px"
      boxShadow="14px 14px 0px rgba(0, 99, 211, 0.3)"
      border="2px solid #2575fc"
      justifyContent="center"
    )
      text(variant="h2" textAlign="center" color="#0D59DC" fontWeight="400") Это бесплатно!







block(variant="container-fluid" height="100vh" display="flex")
  flex(
    mb="40px" 
    width=1/2 
    flexDirection="column" 
    justifyContent="space-between" 
    px=4 
    py=3
  )
    flex(flexDirection="column")
      text(variant="base-uc") Особенности
      text(variant="h1" width=2/3 fontWeight="700" mt=0) Скорость, удобство и&nbsp;простота
    flex(flexDirection="column")
      text(variant="h5" mt=0) — знакомый редактор кода
      text(variant="h5" mt=0) — иерархия в элементах через отступы
      text(variant="h5" mt=0) — короткие названия свойств (atomic css)
      text(variant="h5" mt=0) — значения для разных breakpoints
      text(variant="h5" mt=0) — панель для указания свойств (если вдруг забыл css)
  box(
    bg="grey" 
    width=1/2 
    backgroundImage="url(http://tehne.com/assets/i/upload/event/codex-seraphinianus-1983-156.jpg)" 
    backgroundPosition="center center" 
    backgroundSize="cover"
  )
block(variant="container-fluid" height="auto" display="flex" bg="#D2D9DD")
  text(variant="h3" width=[1, 1, 1/2, 1/4, 1/4]) Аудитория
  card(
    display="flex" 
    px="24px" 
    py="12px" 
    width=[1, 1, 1/2, 1/4, 1/4] 
    border="0" 
    mr="16px" 
    mb="16px" 
    minHeight="auto" 
    flexDirection="column"
  )
    image(
      src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-2.png" 
      size="100px"
    )
    text(variant="h5" mb="0") Верстальщики
    text(variant="base") Оценят скорость работы
  card(
    display="flex" 
    px="24px" 
    py="12px" 
    width=[1, 1, 1/2, 1/4, 1/4] 
    border="0" 
    mr="16px" 
    mb="16px" 
    minHeight="auto" 
    flexDirection="column"
  )
    image(
      src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-2.png" 
      size="100px"
    )
    text(variant="h5" mb="0") Дизайнеры умеющие верстать
    text(variant="base") Оценят широкие возможности
  card(
    display="flex" 
    px="24px" 
    py="12px" 
    width=[1, 1, 1/2, 1/4, 1/4] 
    border="0" 
    mr="16px" 
    mb="16px" 
    minHeight="auto" 
    flexDirection="column"
  )
    image(
      src="http://artemzhigalin.ru/wp-content/uploads/2019/03/features-2.png" 
      size="100px"
    )
    text(variant="h5" mb="0") Программисты
    text(variant="base") Просто будут рады
block(variant="container-fluid" height="100vh" display="flex")
  flex(
    mb="40px" 
    width=1/2 
    flexDirection="column" 
    justifyContent="space-between" 
    px=4 
    py=3
  )
    flex(flexDirection="column")
      text(variant="base-uc") Преимущества
      text(variant="h1" width=2/3 fontWeight="700" mt=0) Чем это лучше обычных конструкторов?
    flex(flexDirection="column")
      text(variant="h5" mt=0) — код чище (пример кода)
      text(variant="h5" mt=0) — бесплатный экспорт результата
      text(variant="h5" mt=0) — быстрый UI с клавиатуры (редактор кода)
      text(variant="h5" mt=0) — широкие возможности настройки элементов
  box(
    bg="grey" 
    width=1/2 
    backgroundImage="url(http://tehne.com/assets/i/upload/event/codex-seraphinianus-1983-158.jpg)" 
    backgroundPosition="center center" 
    backgroundSize="cover"
  )
block(variant="container-fluid" height="100vh" display="flex" bg="#1C2532")
  flex(
    mb="40px" 
    width=1/2 
    flexDirection="column" 
    justifyContent="space-between" 
    px=4 
    py=3
  )
    flex(flexDirection="column")
      text(variant="base-uc" color="white") Преимущества
      text(
        variant="h1" 
        width=2/3 
        fontWeight="700" 
        mt=0 
        color="white"
      )
        | Чем это лучше обычной верстки?
    flex(flexDirection="column")
      text(variant="h5" mt=0 color="white") — не нужно разворачивать окружение
      text(variant="h5" mt=0 color="white") — упрощенный синтаксис
      text(variant="h5" mt=0 color="white") — готовые элементы и блоки
  box(
    bg="grey" 
    width=1/2 
    backgroundImage="url(http://tehne.com/assets/i/upload/event/codex-seraphinianus-1983-087.jpg)" 
    backgroundPosition="center center" 
    backgroundSize="cover"
  )
block(variant="container-fluid" height="100vh" display="flex")
  flex(
    mb="40px" 
    width=1/2 
    flexDirection="column" 
    justifyContent="space-between" 
    px=4 
    py=3
  )
    flex(flexDirection="column")
      text(variant="base-uc") Алгоритм
      text(variant="h1" width=2/3 fontWeight="700" mt=0) Как с&nbsp;этим работать
    flex(flexDirection="column")
      text(variant="base" fontWeight="500" mt=0) 1. Начните с готового лэндинга или с пустой страницы
      text(variant="base" fontWeight="500" mt=0) 2. Чтобы изменить стиль элементов, редактируйте тему
      text(variant="base" fontWeight="500" mt=0) 3. Добавляйте недостающие блоки и элементы из панели
      text(variant="base" fontWeight="500" mt=0) 4. Для “точечных” изменений добавляйте стили элементу напрямую
      text(variant="base" fontWeight="500" mt=0) 5. Для адаптивности добавьте массив значений, например  fontSize=['38px', '42px', '60px']
      text(variant="base" fontWeight="500" mt=0) 6. Скачайте результат работы — файл с лэндингом
  box(
    bg="grey" 
    width=1/2 
    backgroundImage="url(http://tehne.com/assets/i/upload/event/codex-seraphinianus-1983-014.jpg)" 
    backgroundPosition="center center" 
    backgroundSize="cover"
  )
block(variant="container" height="auto")
  box(mb="90px" width=1/2)
    text(variant="h1" fontWeight="700" mt=0) Отзывы
    text(variant="base") ...
block(variant="container" height="auto")
  box(mb="90px" width=1/2)
    text(variant="h1" fontWeight="700" mt=0) FAQ
    text(variant="base") ...